* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 216, 178);
  color: black;
}

.container {
  display: flex;
  width: 1020px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.title,
.subtitle,
.subtitle-lang {
  color: rgb(101, 78, 146);
  line-height: 2em;
  text-align: center;
}

.keyboard-inputarea,
.keyboard-textarea {
  border-radius: 3px;
}

.keyboard-textarea {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid rgb(108, 155, 207);
  resize: none;
}

.keyboard-inputarea {
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  background-color: #2c2c2c;
  min-height: 250px;
  position: relative;
  overflow: hidden;
  border: 3px solid #222;
}

.keyboard-row {
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  height: 50px;
  grid-template-columns: repeat(14, 1fr);
}

.keyboard-row:nth-child(4) {
  grid-template-columns: repeat(13, 1fr);
}

.keyboard-row:last-child {
  grid-template-columns: repeat(9, 1fr);
}

.keyboard-key {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background: rgb(100, 100, 100) radial-gradient(circle at 0 0, rgba(255, 255, 255, .75), rgba(255, 255, 255, .35));
  box-shadow: inset rgba(0, 0, 0, .75) -1px -1px 2px, inset rgba(255, 255, 255, .9) 1px 1px 2px, rgba(0, 0, 0, .8) 1px 1px 2px -1px;
}
 
.keyboard-key:active {
  background: rgb(101, 78, 146);
}

.letter {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.backspace,
.alt-left,
.alt-right,
.caps,
.ctrl-left,
.ctrl-right,
.enter,
.shift-left,
.shift-right,
.space,
.tab, 
.delete, 
.Meta {
  background: rgb(78, 78, 78) radial-gradient(circle at 0 0, rgba(136, 134, 134, 0.65), rgba(167, 167, 167, 0.35));
}

.backspace {
  width: 110px;
}

.ctrl-right {
  width: 60px;
}

.caps {
  width: 86px;
}

.enter {
  width: 100px;
}

.shift-left {
  width: 110px;
}

.shift-right {
  width: 125px;
}

.space {
  width: 420px;
}

.tab,
.ctrl-left,
.alt-left, 
.alt-right {
  width: 70px;
}